@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: #0d0d0d;
}

body {
  background: #f7f7f7;
}

button,
input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type="password"] {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

a {
  color: #999999;
  text-decoration: none;
  position: relative;
  outline: none;
}

a::before {
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: scale-out-x 300ms ease 1 forwards;
          animation: scale-out-x 300ms ease 1 forwards;
}

a::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.15);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scale-out-y 300ms ease 1 forwards;
          animation: scale-out-y 300ms ease 1 forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}

a:hover::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

a:visited {
  color: #999999;
}

a:focus::after {
  -webkit-animation: scale-in-y 300ms ease 1 forwards;
          animation: scale-in-y 300ms ease 1 forwards;
}

a:focus::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

#app {
  width: 100vw;
  height: 100vh;
}

.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.textarea--error .textarea__label {
  color: #CF2C00;
}

.textarea--error .textarea__inner {
  border-color: #CF2C00;
  -webkit-box-shadow: 0 0 5px rgba(207, 44, 0, 0.5);
          box-shadow: 0 0 5px rgba(207, 44, 0, 0.5);
}

.textarea--error .textarea__inner:focus {
  -webkit-box-shadow: 0 0 5px rgba(207, 44, 0, 0.5);
          box-shadow: 0 0 5px rgba(207, 44, 0, 0.5);
}

.textarea__label {
  margin-bottom: 5px;
  color: #999999;
  font-size: 0.9em;
}

.textarea__inner {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  resize: none;
  padding: 10px;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.textarea__inner:hover {
  --border-opacity: 0.4;
}

.textarea__inner:focus {
  --border-opacity: 0.4;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */