@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: #0d0d0d;
}

body {
  background: #f7f7f7;
}

button,
input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type="password"] {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

a {
  color: #999999;
  text-decoration: none;
  position: relative;
  outline: none;
}

a::before {
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: scale-out-x 300ms ease 1 forwards;
          animation: scale-out-x 300ms ease 1 forwards;
}

a::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.15);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scale-out-y 300ms ease 1 forwards;
          animation: scale-out-y 300ms ease 1 forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}

a:hover::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

a:visited {
  color: #999999;
}

a:focus::after {
  -webkit-animation: scale-in-y 300ms ease 1 forwards;
          animation: scale-in-y 300ms ease 1 forwards;
}

a:focus::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

#app {
  width: 100vw;
  height: 100vh;
}

.console-screen {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.console-screen__header,
.console-screen .header {
  background: inherit;
}

.console-screen__header__top,
.console-screen__header .top,
.console-screen .header__top,
.console-screen .header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0 10px 15px;
}

.console-screen__header__top__screen-info,
.console-screen__header__top .screen-info,
.console-screen__header .top__screen-info,
.console-screen__header .top .screen-info,
.console-screen .header__top__screen-info,
.console-screen .header__top .screen-info,
.console-screen .header .top__screen-info,
.console-screen .header .top .screen-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.console-screen__header__top__screen-info__logo,
.console-screen__header__top .screen-info__logo,
.console-screen__header .top__screen-info__logo,
.console-screen__header .top .screen-info__logo,
.console-screen .header__top__screen-info__logo,
.console-screen .header__top .screen-info__logo,
.console-screen .header .top__screen-info__logo,
.console-screen .header .top .screen-info__logo {
  margin-right: 30px;
}

.console-screen__header__top__account,
.console-screen__header__top .account,
.console-screen__header .top__account,
.console-screen__header .top .account,
.console-screen .header__top__account,
.console-screen .header__top .account,
.console-screen .header .top__account,
.console-screen .header .top .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.console-screen__header__top__account__credentials,
.console-screen__header__top__account .credentials,
.console-screen__header__top .account__credentials,
.console-screen__header__top .account .credentials,
.console-screen__header .top__account__credentials,
.console-screen__header .top__account .credentials,
.console-screen__header .top .account__credentials,
.console-screen__header .top .account .credentials,
.console-screen .header__top__account__credentials,
.console-screen .header__top__account .credentials,
.console-screen .header__top .account__credentials,
.console-screen .header__top .account .credentials,
.console-screen .header .top__account__credentials,
.console-screen .header .top__account .credentials,
.console-screen .header .top .account__credentials,
.console-screen .header .top .account .credentials {
  margin: 0 20px;
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.console-screen__header__top__account__credentials__credential::before,
.console-screen__header__top__account .credentials__credential::before,
.console-screen__header__top .account__credentials__credential::before,
.console-screen__header__top .account .credentials__credential::before,
.console-screen__header .top__account__credentials__credential::before,
.console-screen__header .top__account .credentials__credential::before,
.console-screen__header .top .account__credentials__credential::before,
.console-screen__header .top .account .credentials__credential::before,
.console-screen .header__top__account__credentials__credential::before,
.console-screen .header__top__account .credentials__credential::before,
.console-screen .header__top .account__credentials__credential::before,
.console-screen .header__top .account .credentials__credential::before,
.console-screen .header .top__account__credentials__credential::before,
.console-screen .header .top__account .credentials__credential::before,
.console-screen .header .top .account__credentials__credential::before,
.console-screen .header .top .account .credentials__credential::before {
  content: ":";
  color: #999999;
  padding: 0 5px;
}

.console-screen__header__top__account__credentials__credential:first-child::before,
.console-screen__header__top__account .credentials__credential:first-child::before,
.console-screen__header__top .account__credentials__credential:first-child::before,
.console-screen__header__top .account .credentials__credential:first-child::before,
.console-screen__header .top__account__credentials__credential:first-child::before,
.console-screen__header .top__account .credentials__credential:first-child::before,
.console-screen__header .top .account__credentials__credential:first-child::before,
.console-screen__header .top .account .credentials__credential:first-child::before,
.console-screen .header__top__account__credentials__credential:first-child::before,
.console-screen .header__top__account .credentials__credential:first-child::before,
.console-screen .header__top .account__credentials__credential:first-child::before,
.console-screen .header__top .account .credentials__credential:first-child::before,
.console-screen .header .top__account__credentials__credential:first-child::before,
.console-screen .header .top__account .credentials__credential:first-child::before,
.console-screen .header .top .account__credentials__credential:first-child::before,
.console-screen .header .top .account .credentials__credential:first-child::before {
  padding: 0;
  content: "";
}

.console-screen__header__top__maximize-button,
.console-screen__header .top__maximize-button,
.console-screen .header__top__maximize-button,
.console-screen .header .top__maximize-button {
  margin-left: 5px;
  padding: 5px 15px;
}

.console-screen__header__bottom,
.console-screen__header .bottom,
.console-screen .header__bottom,
.console-screen .header .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
}

.console-screen__header__bottom__history-track__clear-button,
.console-screen__header__bottom .history-track__clear-button,
.console-screen__header .bottom__history-track__clear-button,
.console-screen__header .bottom .history-track__clear-button,
.console-screen .header__bottom__history-track__clear-button,
.console-screen .header__bottom .history-track__clear-button,
.console-screen .header .bottom__history-track__clear-button,
.console-screen .header .bottom .history-track__clear-button {
  height: 100%;
  padding: 5px 15px;
  margin-left: 15px;
  border-radius: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.console-screen__header > div,
.console-screen .header > div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.console-screen__body,
.console-screen .body {
  background: #fff;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.console-screen__body__drag,
.console-screen .body__drag {
  min-width: 15px;
  min-height: 15px;
  cursor: ew-resize;
}

.console-screen__body__textarea,
.console-screen__body .textarea,
.console-screen .body__textarea,
.console-screen .body .textarea {
  width: 100%;
  height: 100%;
}

.console-screen__body__textarea__inner,
.console-screen__body .textarea__inner,
.console-screen .body__textarea__inner,
.console-screen .body .textarea__inner {
  width: 100%;
  height: 100%;
}

.console-screen__footer,
.console-screen .footer {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.console-screen__footer__send-button,
.console-screen .footer__send-button {
  margin-left: 15px;
  z-index: 2;
}

.console-screen__footer__link,
.console-screen .footer__link {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.console-screen__footer__align-button,
.console-screen .footer__align-button {
  padding-right: 0;
  margin-right: 15px;
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */