@import "../../../../styles/style.scss";

.input {
  display: flex;
  flex-direction: column;

  &--error {
    .input__labels,
    .labels {
      &__main-label {
        color: $red;
      }
    }

    .input__inner {
      border-color: $red;
      box-shadow: 0 0 5px rgba($red, 0.1);

      &:focus {
        box-shadow: 0 0 5px rgba($red, 0.1);
      }
    }
  }

  &__labels,
  .labels {
    font-size: 0.9em;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

    &__extra-label {
      color: $gray;
      font-size: 0.9em;
    }
  }

  &__inner {
    --border-opacity: 0.2;
    background: #fff;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba($color: #000000, $alpha: var(--border-opacity));
    transition: 200ms ease all;

    &:hover {
      --border-opacity: 0.4;
    }

    &:focus {
      --border-opacity: 0.4;
      box-shadow: 0 0 0 2px rgba(#000, 0.1);
    }
  }
}
