@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: #0d0d0d;
}

body {
  background: #f7f7f7;
}

button,
input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type="password"] {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

a {
  color: #999999;
  text-decoration: none;
  position: relative;
  outline: none;
}

a::before {
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: scale-out-x 300ms ease 1 forwards;
          animation: scale-out-x 300ms ease 1 forwards;
}

a::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.15);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scale-out-y 300ms ease 1 forwards;
          animation: scale-out-y 300ms ease 1 forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}

a:hover::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

a:visited {
  color: #999999;
}

a:focus::after {
  -webkit-animation: scale-in-y 300ms ease 1 forwards;
          animation: scale-in-y 300ms ease 1 forwards;
}

a:focus::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

#app {
  width: 100vw;
  height: 100vh;
}

.button {
  --color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#45a6ff), to(#0055fb));
  background: linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
  color: var(--color);
  cursor: pointer;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  font-weight: 500;
  position: relative;
  gap: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(69, 165, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(69, 165, 255, 0.5);
}

.button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))), -webkit-gradient(linear, left top, left bottom, from(#45a6ff), to(#0055fb)), #c4c4c4;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
}

.button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), -webkit-gradient(linear, left top, left bottom, from(#45a6ff), to(#0055fb)), #c4c4c4;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%), #c4c4c4;
}

.button--icon-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.button--nobg {
  background: transparent;
  border-radius: 7px;
  padding: 5px 7px;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  --color: #000;
}

.button--nobg .button__icon {
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.button--nobg .button__icon * {
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.button--nobg:hover {
  --color: #0055fb;
  background: transparent;
}

.button--nobg:focus {
  --color: #0055fb;
}

.button--disabled {
  background: -webkit-gradient(linear, left bottom, left top, from(#c4c4c4), to(#c4c4c4)), -webkit-gradient(linear, left top, left bottom, from(#45a6ff), to(#0055fb));
  background: linear-gradient(0deg, #c4c4c4, #c4c4c4), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
  border-color: var(--color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--disabled:hover, .button--disabled:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#c4c4c4), to(#c4c4c4)), -webkit-gradient(linear, left top, left bottom, from(#45a6ff), to(#0055fb));
  background: linear-gradient(0deg, #c4c4c4, #c4c4c4), linear-gradient(180deg, #45a6ff 0%, #0055fb 100%);
}

.button--disabled:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--loading .button__text,
.button--loading .button__icon {
  visibility: hidden;
}

.button__icon {
  height: 1.4em;
  width: 1.4em;
}

.button__icon svg {
  height: 100%;
  width: 100%;
}

.button__icon svg * {
  stroke: var(--color);
}

.button__loading-spinner {
  position: absolute;
  -webkit-animation: rotating 3s linear infinite;
          animation: rotating 3s linear infinite;
  height: 1.4em;
  width: 1.4em;
}
/*# sourceMappingURL=style.css.map */