@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale-in-x {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes scale-out-x {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scale-in-y {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes scale-out-y {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: #0d0d0d;
}

body {
  background: #f7f7f7;
}

button,
input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type="password"] {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

a {
  color: #999999;
  text-decoration: none;
  position: relative;
  outline: none;
}

a::before {
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.7);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: scale-out-x 300ms ease 1 forwards;
          animation: scale-out-x 300ms ease 1 forwards;
}

a::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(153, 153, 153, 0.15);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scale-out-y 300ms ease 1 forwards;
          animation: scale-out-y 300ms ease 1 forwards;
  -webkit-transform-origin: top;
          transform-origin: top;
}

a:hover::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

a:visited {
  color: #999999;
}

a:focus::after {
  -webkit-animation: scale-in-y 300ms ease 1 forwards;
          animation: scale-in-y 300ms ease 1 forwards;
}

a:focus::before {
  -webkit-animation: scale-in-x 300ms ease 1 forwards;
          animation: scale-in-x 300ms ease 1 forwards;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

#app {
  width: 100vw;
  height: 100vh;
}

.history-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.history-track__actions,
.history-track .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 0;
  position: relative;
  overflow-x: scroll;
}

.history-track__actions::-webkit-scrollbar,
.history-track .actions::-webkit-scrollbar {
  display: none;
}

.history-track__actions__fade,
.history-track .actions__fade {
  position: absolute;
  height: 100%;
}

.history-track__actions__fade--left,
.history-track .actions__fade--left {
  left: 0;
}

.history-track__actions__fade--left div,
.history-track .actions__fade--left div {
  background: linear-gradient(269.93deg, rgba(246, 246, 246, 0) 0.06%, #f6f6f6 99.93%);
}

.history-track__actions__fade--right,
.history-track .actions__fade--right {
  right: 29px;
}

.history-track__actions__fade--right div,
.history-track .actions__fade--right div {
  background: linear-gradient(269.93deg, #f6f6f6 0.06%, rgba(246, 246, 246, 0) 99.93%);
}

.history-track__actions__fade div,
.history-track .actions__fade div {
  position: fixed;
  height: 48px;
  width: 30px;
  content: "";
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 200ms linear opacity;
  transition: 200ms linear opacity;
}

.history-track__actions__fade--visible div,
.history-track .actions__fade--visible div {
  opacity: 1;
}

.history-track__actions__action,
.history-track__actions .action,
.history-track .actions__action,
.history-track .actions .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.history-track__actions__action:hover,
.history-track__actions .action:hover,
.history-track .actions__action:hover,
.history-track .actions .action:hover {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.history-track__actions__action--error .action__status,
.history-track__actions .action--error .action__status,
.history-track .actions__action--error .action__status,
.history-track .actions .action--error .action__status {
  background: #cf2c00;
}

.history-track__actions__action--success .action__status,
.history-track__actions .action--success .action__status,
.history-track .actions__action--success .action__status,
.history-track .actions .action--success .action__status {
  background: #30b800;
}

.history-track__actions__action__status,
.history-track__actions .action__status,
.history-track .actions__action__status,
.history-track .actions .action__status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}

.history-track__actions__action__action-name,
.history-track__actions .action__action-name,
.history-track .actions__action__action-name,
.history-track .actions .action__action-name {
  margin-left: 10px;
  margin-right: 5px;
  white-space: nowrap;
}

.history-track__actions__action__dropdown-button,
.history-track__actions__action .dropdown-button,
.history-track__actions .action__dropdown-button,
.history-track__actions .action .dropdown-button,
.history-track .actions__action__dropdown-button,
.history-track .actions__action .dropdown-button,
.history-track .actions .action__dropdown-button,
.history-track .actions .action .dropdown-button {
  cursor: pointer;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history-track__actions__action__dropdown-button__icon,
.history-track__actions__action .dropdown-button__icon,
.history-track__actions .action__dropdown-button__icon,
.history-track__actions .action .dropdown-button__icon,
.history-track .actions__action__dropdown-button__icon,
.history-track .actions__action .dropdown-button__icon,
.history-track .actions .action__dropdown-button__icon,
.history-track .actions .action .dropdown-button__icon {
  height: 1em;
}

.history-track__actions__empty-label,
.history-track .actions__empty-label {
  color: #999999;
}

.history-track__clear-button {
  margin-left: auto;
}
/*# sourceMappingURL=style.css.map */